.MainContainer {
  background: linear-gradient(180deg, #FFFDAC 0%, #FFF 100%);
  position: relative;
  margin: 0px auto;
  max-width: 500px;
  width: 100%;
  min-height: 100vh;
  transition: margin-top 0.5s ease 0s;
  overflow: hidden;
}